<div class="aside-left-wrapper">
    <ul class="list-group list-group-flush menu-bar">
        <li class="list-group-item">
            <a href="#!home" class="menu-link active">Trang chủ</a>
        </li>
        <li class="list-group-item">
            <a href="" class="menu-link">Hoạt động</a>
        </li>
        <li class="list-group-item">
            <a href="" class="menu-link">Lớp học</a>
        </li>
        <li class="list-group-item">
            <a href="#!faq" class="menu-link">FAQ</a>
        </li>
        <li class="list-group-item">
            <a href="#!feedback" class="menu-link">Liên hệ</a>
        </li>
        <li class="list-group-item">
            <a href="./contact.html" class="menu-link">Góp ý</a>
        </li>
    </ul>
    <div class="contact mb-5">
        <h2 class="name">QUIZZ GAME</h2>
        <h4 class="fw-lighter mb-4">Trò chơi trắc nghiệm</h4>
        <div class="footer fw-light">Copyright ©2021 All rights reserved | This template is made with by
            Wolfhybrid
        </div>
    </div>
</div>